<div class="cv-container" #cvContainer>
    <div class="row">
      <div class="column left">
        <!-- Personal Information -->
        <h2>Personal Information</h2>
        <h3>Yadinmir Covarrubias Beltran</h3>
        <p>Email: yadimir.cova&#64gmail.com</p>
        <p>Tel: (MX) +52 6672 09 0541</p>
        <p>Personal Repo: https://github.com/YadimirCovBel</p>
        <h3>Nationality:</h3>
        <ul>
          <li>United States</li>
          <li>Mexican</li>
        </ul>
        <h3>Travel Documentation:</h3>
        <ul>
          <li>United States passport</li>
          <li>Mexican passport</li>
        </ul>
        <!-- Education -->
        <h3>Education</h3>
        <p>Licenciado en Mercadotecnia (B.S. in Marketing)</p>
        <!-- Skills -->
        <h2>Skills</h2>
        <h3>Languages:</h3>
        <ul>
          <li>Spanish: Advanced</li>
          <li>English: Advanced</li>
        </ul>
        <h3>Software Development:</h3>
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>TypeScript</li>
          <li>JavaScript</li>
          <li>SQL</li>
          <ul>
            <li>MariaDB</li>
            <li>MySQL</li>
          </ul>
          <li>NoSQL</li>
          <ul>
            <li>MongoDB</li>
          </ul>
          <li>SSH</li>
          <li>GNU/Linux (Debian Flavor distros)</li>
          <li>Shell</li>
          <li>Bash</li>
          <li>SystemD</li>
        </ul>
        <h3>Stacks:</h3>
        <ul>
          <li>MEAN</li>
          <ul>
            <li>MongoDB</li>
            <li>Express.js</li>
          </ul>
        </ul>
        <h3>Management Skills:</h3>
        <ul>
          <li>Leadership</li>
          <li>Logistics</li>
          <li>Team Coordination</li>
          <li>Problem Solving</li>
          <li>Risk Assessment</li>
          <li>Value Delivery</li>
          <li>Metrics Analysis</li>
          <li>Budget Planning</li>
        </ul>
      </div>
      <div class="column right">
        <!-- Work Experience -->
        <h2>Work Experience</h2>
        <h3>Servicios industriales KingWash</h3>
        <h6>Zapopan, Jalisco, México | AUG/2019 - current</h6>
        <h5>Chief Administrative Officer</h5>
        <p>Administrative staff management driven by the mission and vision of the company focused in delivering world-class laundry services to stay competitive while maintaining highest standard to be able to satisfy Hospital and Hotels Companies.</p>
        <p>The daily basis work can be summarized in leading the following areas Collections, Human Resources, Invoicing, infrastructure Maintenance, Supplier Input Control, Customer Service; these while maintaining, planning and executing strategies for our scalable business model.</p>
        <p>Specialized services in laundry to industrial level costumer with more than 20 years with proven experience attending hospital, healthcare and hotels market delivering a top service attending the necessities of the industry, we also deliver pending to be patented processes based in chemical research for extending the lifespan of the fabrics.</p>
        <h3>Transportadora de perecederos y congelados H</h3>
        <h6>Zapopan, Jalisco. México | SEP /2017- JUN/2019</h6>
        <h5>Logistic administrative</h5>
        <p>Supplies Administrator for the control of fuel and other transportation automotive fleet needs for the operation also in accomplish with the C-TPAT parameters to keep certifications while having contact with C-TPAT agent; Quality assessment service.</p>
        <h3>Hospital San Javier</h3>
        <h6>Guadalajara, Jalisco. México | SEP/2015- JUN/2017</h6>
        <h5>Marketing Assistant</h5>
        <p>Market research, promotional events planning and support, control of supplies stock and pricing.</p>
        <h3>Telefónica</h3>
        <h6>Customer representative</h6>
        <h5>Marketing Assistant</h5>
        <p>Attention to complaints, malfunctions of ISP and cancellations of ISP and other services of the ISP.</p>
      </div>
    </div>
  </div>
  